# This file should contain secrets which are used inside the agent (apps/agents)

# LangSmith tracing
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_API_KEY=""
# Optional, unless using a non default project
# LANGCHAIN_PROJECT=""

# ---LLM API Keys---

# Anthropic
ANTHROPIC_API_KEY=""
# OpenAI
OPENAI_API_KEY=""
# Azure OpenAI
_AZURE_OPENAI_API_KEY=""
_AZURE_OPENAI_API_DEPLOYMENT_NAME=""
_AZURE_OPENAI_API_VERSION=""
_AZURE_OPENAI_API_BASE_PATH=""
# Fireworks
FIREWORKS_API_KEY=""
# Gemini
GOOGLE_API_KEY=""
# Groq - STT
GROQ_API_KEY=""
# ------------------

# Supabase
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE=""

FIRECRAWL_API_KEY=""
